<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ReplyMapper">


	<select id="list" resultType="org.zerock.domain.ReplyVO">
		<!-- select * from tbl_reply where bno = #{bno} order by rno desc -->

		select* from(
		select @rownum:=@rownum+1 as rownum, b.*
		from (select
		@rownum:=0) as tmp, tbl_reply as b
		where bno=#{bno}
		order by rno desc
		)
		as replyList
		<![CDATA[
		where rownum > (#{cri.pageNum}-1)*#{cri.amount} and rownum <= #{cri.pageNum}*#{cri.amount}
		]]>

	</select>

	<insert id="create">
		insert into tbl_reply (bno,replytext,replyer) values
		(#{bno},#{replytext},#{replyer})
	</insert>

	<update id="update">
		update tbl_reply set replytext = #{replytext}, updatedate = now()
		where rno = #{rno}
	</update>

	<delete id="delete">
		delete from tbl_reply where rno= #{rno}
	</delete>
	<select id="getCountByBno" resultType="int">
	SELECT COUNT(*) FROM tbl_reply WHERE bno=#{bno}
	</select>















</mapper>